*{
    font-family: 'Josefin Sans', sans-serif;
    margin:0;
    padding:0;
}
body{
    width: 90vw; 
    color:linear-gradient(135deg,hsl(0, 0%, 100%),hsl(0, 100%, 98%));
}

.banner-mobile{
    width: 100vw;
    margin: 0;
    padding: 0;
       
}
.banner-desktop{
    visibility: hidden;
    display:none;
}
.logo{ 
    margin: 1.5rem ;
    width: 30vw;
}
.info{ 
    width: 80vw;
    padding: 0 1.5rem;
    line-height:1.5rem;
    display: flex;
    align-items:center;justify-content: center;
    text-align: center;
    color:hsl(0, 36%, 70%);
    word-wrap: break-word;

}

h1{ 
    font-size:2.5rem;
    text-align: center;
    margin: 1.5rem 0 1rem 0;
    font-weight: 600;
    
    text-transform: uppercase;
    color: hsl(0, 6%, 24%); 
    letter-spacing: .8rem;
}

input{
    width: 80vw;
    display: flex;
    border-radius: 30px;
    margin: 2rem auto;
    height: 3rem;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid hsl(0, 36%, 70%);
    color: hsl(0, 36%, 70%);
    
}
input:invalid{
    background: url("./images/icon-error.svg") no-repeat 80% center;
    
}

input::placeholder{
    color: hsl(0, 36%, 70%);
}
nput:focus{
    height: 3rem;
    margin: 0;
}
button.send{
    height: 3rem;
    width:4rem;
    display: inline-block;
    position: relative;
    top: -80px;
    left: 80%;
    z-index: 1;
    border:none;
    border-radius: 40px;
    background: linear-gradient(135deg,hsl(0, 80%, 86%),hsl(0, 74%, 74%));
    color:#fff;
    font-size:2rem;
    font-weight:300;
    text-transform:uppercase;
    cursor:pointer;
    transition: all .5s;
}

.contrast{ 
    font-weight: 300;
    color:hsl(0, 36%, 70%);
}
#erro{
    position: relative;
    bottom:70px;
    z-index: 9999;
    left: 10%;
    margin:0;
    padding:0;
    color: hsl(0, 36%, 70%);
    visibility: hidden;
}


.input-button{
    height: 3rem;
}
.attribution { font-size: 11px; text-align: center; position: fixed;padding:2rem; background:#fff; box-sizing: border-box; bottom:0;}
.attribution a { color: hsl(228, 45%, 44%); }

@media(min-width:600px){
    .banner-desktop{
        visibility:visible;
        display:block;
        position: absolute;
        right:0;
        top:0;
        display:flex;
        align-items:center;
        padding: 0;
        height:100vh;
    }
    .banner-mobile{
        visibility: hidden;
        display:none;
    }
    .logo{ 
        width: 10vw;
        margin: 3rem 10rem ;
    }
    button.send{ 
        display: inline-block;
        position: relative;
        top:-80px;
        left: 85%;
        width: 5rem;
        transition: all .5s;
    }
    .send:hover{
        top:-85px;
        width:5.5rem;
        height:3.5rem;
        display: inline-block;
        position: relative;
    }
    #erro{
        position: relative;
        bottom:150%;
        left: 10%;;
        margin:0;
        padding:0;
        color: hsl(0, 36%, 70%);
        visibility: hidden;
    }
    input{
        width: 30vw;
    }
    input:invalid{
        background: url("./images/icon-error.svg") no-repeat 80% center;
        
    }

    .info{
        width: 31vw;
        text-align: left;
        display:flex;
        align-items:center;
        justify-content: center;
        margin: 0 0 0 9rem;
    }
    .input-button{
        
        width:30vw;
        margin-left: 10rem;
        margin-top:1rem;
        padding:0;
        height:3rem;
  
    }
    h1{
        font-size:5rem;
        text-align: left;
        margin-left: 10rem;
    }
    .contrast{
        color:hsl(0, 36%, 70%);
        
    }
}